*{
    margin: 0;
    padding: 0;
  }

  ul {
    display: block;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}

  li {
    display: inline-block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  